@{
    Layout = null;
    ViewBag.Title = "MainMenu";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/MainMenu.css" />
    @{ string toggleSound = HttpContext.Current.Session["toggleSound"].ToString(); }
    @{ string toggleMusic = HttpContext.Current.Session["toggleMusic"].ToString(); }
    <script type="text/javascript" src="~/scripts/WebAudioApi.js"></script>
    <script>
        var elephant = new WebAudioAPISound("../Audio/Elephant.mp3");
        elephant.setVolume(10);

        var lion = new WebAudioAPISound("../Audio/Lion_Roar.mp3");
        lion.setVolume(10);

        @if (toggleSound == "True")
        {
            <text>
        lion.volume = 0;
        elephant.volume = 0;
        </text>
        }
    </script>
    <title>@ViewBag.Title</title>
    <link rel="manifest" href="~/scripts/Manifest.json">
    <script>
        var start = function () {
            screen.orientation.lock('landscape-primary').catch(function () { });
        }
        window.onload = start;
    </script>
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    @* web audio api that allows mobile audio *@
    <script type="text/javascript" src="~/scripts/WebAudioApi.js"></script>
    @if (toggleMusic == "False")
    {
        //make this a seperate script
        <script type="text/javascript">
            //using the api
            var bgMusic = new WebAudioAPISound("../Audio/bensound-sunny.mp3", { loop: true });
            bgMusic.setVolume(5);
            bgMusic.play(bgMusic);
        </script>
    }
    <div>
        <h2>Main Menu</h2>
        <br />
        <br />
        <section class="form">
            <br />
            <a href="@Url.Action("Play", "Play")"><p class="link" style="" onmouseover="elephant.play(elephant)"><img src="~/Images/Play2.png" class="link_image" /> Play</p></a>
            <br />
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Options", "Options")"><p class="link" style=""><img src="~/Images/Options2.png" class="link_image" /> Options</p></a>
                <br />
            }
            
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Sanctuary", "AnimalSanctuary")" ><p class="link" style="" onmouseover="lion.play(lion)"><img src="~/Images/Sanctuary2.png" class="link_image" /> Animal Sanctuary</p></a>
                <br />
            }
            
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Login", "Login")"><p class="link" style=""><img src="~/Images/Logout.png" class="link_image" />Login Screen</p></a>
                <br />
            }
        </section>
    </div>
</body>
</html>