@{
    Layout = null;
    ViewBag.Title = "MainMenu";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/MainMenu.css" />
    @{ string toggleSound = HttpContext.Current.Session["toggleSound"].ToString(); }
    @{ string toggleMusic = HttpContext.Current.Session["toggleMusic"].ToString(); }
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script>
        var elephant = new Audio();
        elephant.src = "../Audio/Elephant.mp3";
        elephant.volume = 0.15;

        var lion = new Audio();
        lion.src = "../Audio/Lion_Roar.mp3";
        lion.volume = 0.15;

        //background music to work on mobile below
        var bgMusic = new Audio();
        bgMusic.src = "../Audio/bensound-sunny.mp3";
        bgMusic.volume = 0.05;

        bgMusic.addEventListener('ended', function () {
            this.currentTime = 0;
            this.play();
        }, false);

        @if (toggleSound == "True")
        {
            <text>
                lion.volume = 0;
                elephant.volume = 0;
                bgMusic.volume = 0;
            </text>
        }
        
        $(document).ready(function () {
            $(window).on("touchstart", function () {
                bgMusic.play();
            });
        });

        window.onload = function () {
            try 
            {
                $(window).trigger("touchstart");
            }
            catch (e)
            {
                console.log("Touch not supported.");
                bgMusic.play();
            }
        };

    </script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (toggleMusic == "False")
    {

        @*<audio controls loop id="menuMusic" source src="../Audio/bensound-sunny.mp3" autoplay hidden="hidden">
        </audio>*@

        @*<script>
            var vid = document.getElementById("menuMusic");
            vid.volume = 0.05;
        </script>*@
    }
    <h2>Main Menu</h2>
    <nav id="mainMenuNav">
        <ul id="navLinks">
            <li>
                <a href="@Url.Action("Play", "Play")" onmouseover="elephant.play()">Play</a>
            </li>
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Options", "Options", "Options")
                }
            <li />
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Sanctuary", "AnimalSanctuary")" onmouseover="lion.play()">Animal Sanctuary</a>
                }
            <li />
            <li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Login", "Login")">Home</a>
                }
            <li />
        </ul>
    </nav>
</body>
</html>