@{
    Layout = null;
    ViewBag.Title = "MainMenu";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/CSS/MainMenu.css" />
    @{ string toggleSound = HttpContext.Current.Session["toggleSound"].ToString(); }
    @{ string toggleMusic = HttpContext.Current.Session["toggleMusic"].ToString(); }
    <script>
        var elephant = new Audio();
        elephant.src = "../Audio/Elephant.mp3";
        elephant.volume = 0.15;
        var lion = new Audio();
        lion.src = "../Audio/Lion_Roar.mp3";
        lion.volume = 0.15;
        @if (toggleSound == "True")
        {
            <text>
                lion.volume = 0;
                elephant.volume = 0;
            </text>
        }
    </script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <script type="text/javascript" src="~/scripts/WebAudioApi.js"></script>
    @if (toggleMusic == "False")
    {
        //make this a seperate script
        <script type="text/javascript">
            //using the api
            var bgMusic1 = new WebAudioAPISound("../Audio/bensound-sunny", { loop: true });
            bgMusic1.play(bgMusic1);   
        </script>
    };
    <h2>Main Menu</h2>
    <nav id="mainMenuNav">
        <ul id="navLinks">
            <li>
                <a href="@Url.Action("Play", "Play")" onmouseover="elephant.play()">Play</a>
            </li>
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Options", "Options", "Options")
                }
            <li />
            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Sanctuary", "AnimalSanctuary")" onmouseover="lion.play()">Animal Sanctuary</a>
                }
            <li />
            <li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Login", "Login")">Home</a>
                }
            <li />
        </ul>
    </nav>
</body>
</html>