@model ToTheRescueWebApplication.Models.OptionsModel
@{
    ViewBag.Title = "Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    <h2>Options for @Model.profileName</h2>

    @Html.TextBoxFor(m => m.profileName, new { style = "display: none;" })
    <text>Toggle Sound:</text> @Html.CheckBoxFor(m => m.toggleSound)
    <br />
    <text>Toggle Music:</text> @Html.CheckBoxFor(m => m.toggleMusic)
    <br />
    SelectList readingDifficultyList = new SelectList(new List<Object>{
                           new { Text = "Low Pre-Kindergarden", Value = "1" },
                           new { Text = "High Pre-Kindergarden", Value = "2"  },
                           new { Text = "Low Kindergarden", Value = "3" },
                           new { Text = "High Kindergarden", Value = "4" }
                                                                      },
                                                                                    "value",
                                                                                    "text",
                                                                                     Model.ReadingDifficultyLevel);
    SelectList mathDifficultyList = new SelectList(new List<Object>{
                           new { Text = "Low Pre-Kindergarden", Value = "1" },
                           new { Text = "High Pre-Kindergarden", Value = "2"  },
                           new { Text = "Low Kindergarden", Value = "3" },
                           new { Text = "High Kindergarden", Value = "4" }
                                                      },
                                                                    "value",
                                                                    "text",
                                                                     Model.MathDifficultyLevel);
    SelectList subjectFilterList = new SelectList(new List<Object>{
                           new { Text = "Anything", Value = "" },
                           new { Text = "Math Only", Value = "Math" },
                           new { Text = "Reading Only", Value = "Reading"  },
                                                      },
                                                                "value",
                                                                "text",
                                                                 Model.SubjectFilter);
    <h2>Math Difficulty</h2>
    @Html.DropDownListFor(m => m.MathDifficultyLevel, mathDifficultyList) 
    <h2>Reading Difficulty</h2>
    @Html.DropDownListFor(m => m.ReadingDifficultyLevel, readingDifficultyList)
    <h2>Subject Filter</h2>
    @Html.DropDownListFor(m => m.SubjectFilter, subjectFilterList);

    <button type="submit">Apply Options</button>
}

<br />
<p id="addLink">@Html.ActionLink("Switch Profiles", "ChooseProfilePage", "Profiles")</p>
<p id="addLink">@Html.ActionLink("Back to Main Menu", "MainMenu", "MainMenu")</p>


<script type="text/javascript">
    function main() { }
    main()

</script>