@{
    Layout = "~/Views/Shared/_PlayLayout.cshtml";
    ViewBag.Title = "Play Map";
}
@model ToTheRescueWebApplication.Models.Play.PlayModel

@* web audio api that allows mobile audio *@
<script type="text/javascript" src="~/scripts/WebAudioApi.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../../scripts/transition.js"></script>
    <script type="text/javascript">
        transition('#f0ffff');
        $(window).load(function () {
            $("#content").fadeOut("slow");
        });
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if(!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }
</script>

@{ string toggleMusic = HttpContext.Current.Session["toggleMusic"].ToString(); }

@if (toggleMusic == "False")
{
    <script>
        var vid = new WebAudioAPISound("@Url.Action("LoadAudio", new { @mapID = Model.CurrentMap })", {loop: true});
        vid.setVolume(7);
        vid.play(vid);
    </script>
}
<div class="profileInfo">
    <label id="name">Name: @Model.ProfileName</label>
    <label id="level">Grade Level: @Model.GradeLevel</label>
    <label id="subject">Subject: @Model.Subject</label>
</div>
<nav id="playMenu">
    <div class="icons">
        <ul class="buttons">
            <li id="play">
                <img src="~/Images/Play2.png" class="icon" alt="Play">
            </li>
            <li id="sanctuary">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="~/AnimalSanctuary/Sanctuary">
                        <img src="~/Images/Sanctuary2.png" class="icon" alt="Sanctuary">
                    </a>
                }
            </li>
            <li id="menu">
                <a href="~/MainMenu/MainMenu">
                    <img src="~/Images/Back2.png" class="icon" alt="Menu">
                </a>
            </li>
            <li id="options">
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="~/Options/Options">
                        <img src="~/Images/Options2.png" class="icon" alt="Options">
                    </a>
                }
            </li>
            <li id="fullscr">
                <a onclick="toggleFullScreen();">
                    <img src="~/Images/Fullscreen2.png" class="icon" alt="Fullscreen">
                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="container">
    <div id="mapCont" class="mapContainer" onload="">
        <img src="@Url.Action("ShowMapImage", new { @mapID = Model.CurrentMap })" id="mapImg" alt="Map">
        <img src="@Url.Action("ShowAnimalImage", new { @AnimalID = Model.Animal })" id="animalImg" alt="Animal" style="top:@(Model.MapNodes[Model.MapNodes.Count() - 1].YCoordinate)%; left:@Model.MapNodes[Model.MapNodes.Count() - 1].XCoordinate%">
        <img src="@Url.Action("ShowAvatarImage", new { @profileID = Model.Avatar })" id="avatarImg" alt="Profile Avatar" style="top:@Model.MapNodes[Model.CurrentNode - 1].YCoordinate%; left:@Model.MapNodes[Model.CurrentNode - 1].XCoordinate%">
    </div>
    @*Pop up box displayed when user rescues animal*@
    <div id="animalSaved" style="display:none">
        <p id="praise">You Did It!</p>
        <img src="@Url.Action("ShowAnimalImage", new { @AnimalID = Model.Animal })" id="savedAnimalImg" alt="Saved Animal">
        <button id="closePraise">Done</button>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            //call function to move avatar to current node when map loads
            setTimeout(function() {
                moveAvatar();
            }, 500);

            //congratulatory sound when animal saved
            var saved = new WebAudioAPISound("../../Audio/Ta_Da.mp3");
            saved.setVolume(20);

            //transfer nodes from Model into JS array
            var nodeArr = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.MapNodes));

            //Get current node from ProfileProgess table through controller method and move avatar to current node
            function moveAvatar() {
                $.ajax({
                    url: '/Play/GetCurrentNode/',
                    datatype: "text",
                    type: "GET",
                    success: function (data) {
                        $("#avatarImg").animate({ 'top': (nodeArr[data - 1].YCoordinate) + '%' }, 'slow');
                        $("#avatarImg").animate({ 'left': nodeArr[data - 1].XCoordinate + '%' }, 'slow');
                        data == @Model.MapNodes.Count() ? endofmap() : null
                    }
                });
            };

            //show animal saved div
            function endofmap() {
                $.ajax({
                    url: '/Play/NewMap/',
                    success: function () {
                        $("#animalSaved").show();
                        saved.play(saved);
                        $("#play").hide();
                   }
                })
            }

            //when play button clicked: Go to play  mini game page
            $("#play").click(function () {
                window.location.href = '/Play/MiniGame/'
            });
            $("#avatarImg").click(function () {
                window.location.href = '/Play/MiniGame/'
            });
            //when animal saved div close, go to new map
            $("#closePraise").click(function () {
                $.ajax({
                    url: '/Play/GetMapCount/',
                    datatype: "text",
                    type: "GET",
                    success: function (mapCount) {
                        $("animalSaved").hide();
                        $("play").show();
                        if(@Model.CurrentMap == mapCount)  //go to end of game splash screen after last map
                            window.location.href = '/Play/EndofGame/'
                        else
                            window.location.href = '/Play/Play/';
                    }
                });
            });
        });
    </script>
}
