@model ToTheRescueWebApplication.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" id="forgotPassword">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}
