@using ToTheRescueWebApplication.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Log in";
}

<h2>To The Rescue!</h2>
<div>
    <div>
        <section class="form" id="loginForm">
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="loginFields">
                    <div class="form-group">
                       <label>Email Address</label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="errorEmail">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="errorPassword">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="submitBtn" type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p class="link">
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p class="link">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
                <p class="link">
                    @Html.ActionLink("Free Play Mode", "MainMenu", "MainMenu")
                </p>
            }
        </section>
    </div>
</div>