@model ToTheRescueWebApplication.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>
<section class="form">
    @using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="validation">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
        <div class="loginFields">
            <div class="form-group">
                <label>Email Address</label>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <br />
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }
</section>