@model ToTheRescueWebApplication.Models.ProfilesModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="ChooseProfileBody">
    <h1 id="ChooseProfileheader">Choose Your Profile!</h1>
    <br />


    <table id="ProfilesTable" , style="width:100%">
        @if (Model.GetProfileNamesForASpecificUser().Count() < 4)
        {
            <tr id="RowOneProfiles">
                @for (int i = 0; i < Model.GetProfileNamesForASpecificUser().Count(); i++)
                {
                    var base64 = Convert.ToBase64String(Model.GetAllProfileAvatarsForASpecificUser()[i]);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <td>
                        <div id="@("Profile"+i)">
                            <text id="ProfileNames">@Model.GetProfileNamesForASpecificUser()[i]</text>
                            <img id="Avatar" , src="@imgSrc" />
                        </div>
                    </td>
                }
            </tr>
        }
        else
        {
            int i = 0;
            <tr id="RowOneProfiles">
                @for (i = 0; i < 4; i++)
                {
                    var base64 = Convert.ToBase64String(Model.GetAllProfileAvatarsForASpecificUser()[i]);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <td id="@("Profile"+i)">
                        <text id="ProfileNames">@Model.GetProfileNamesForASpecificUser()[i]</text>
                        <img id="Avatar" , src="@imgSrc" />
                    </td>
                }
            </tr>
            <tr id="RowTwoProfiles">
                @for (int x = i; x < Model.GetProfileNamesForASpecificUser().Count(); x++)
                {
                    var base64 = Convert.ToBase64String(Model.GetAllProfileAvatarsForASpecificUser()[x]);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <td id="@("Profile"+x)">
                        <text id="ProfileNames">@Model.GetProfileNamesForASpecificUser()[x]</text>
                        <img id="Avatar" , src="@imgSrc" />
                    </td>
                }
            </tr>
        }
    </table>

    <br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>

<style>
    #ChooseProfileheader {
        text-align: center;
    }

    #ProfileNames {
        font-size: 32px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
</style>

<script type="text/javascript">
    function ListenForProfileClicks(clickedArr) {

        document.getElementById("Profile0").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile0").style.color = "red"
            clickedArr[0] = true;
        }
        document.getElementById("Profile1").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile1").style.color = "red"
            clickedArr[1] = true;
        }
        document.getElementById("Profile2").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile2").style.color = "red"
            clickedArr[2] = true;
        }
        document.getElementById("Profile3").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile3").style.color = "red"
            clickedArr[3] = true;
        }
        document.getElementById("Profile4").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile4").style.color = "red"
            clickedArr[4] = true;
        }
        document.getElementById("Profile5").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile5").style.color = "red"
            clickedArr[5] = true;
        }
        document.getElementById("Profile6").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile6").style.color = "red"
            clickedArr[6] = true;
        }
        document.getElementById("Profile7").onclick = function () {
            ToggleNameColor(clickedArr);
            document.getElementById("Profile7").style.color = "red"
            clickedArr[7] = true;
        }
    }

    function ToggleNameColor(clickedArr)
    {
        for (var i = 0; i < clickedArr.length; i++) {
            if (clickedArr[i] === true) {
                var elID = "Profile";
                elID.concat(i.toString());
                document.getElementById(elID).style.color = "black";
                clickedArr[i] = false;

            }
        }
    }

    function main() {
        var clickedArr = [];

        for (var i = 0; i < 8; i++) {
            clickedArr.push(false);
        }
        ListenForProfileClicks(clickedArr);
    }

    main()

</script>