@model ToTheRescueWebApplication.Models.ProfilesModel

@{
    ViewBag.Title = "CreateProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.NewProfileName = "";
    Model.SelectedAvatarNum = "";
}

<style>
    #Header {
        text-align: center;
    }
    #CreateProfileButton{
        border-radius: 10px;
    }
    #BackButton{
        border-radius: 10px;
        position: relative;
        left: 65%;
    }
    /*#ProfileNames {
        font-size: 32px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    #DeleteProfileButton {
        border-radius: 10px;
        position: relative;
        left: 0%;
    }

    #CreateNewPorifleButton {
        border-radius: 10px;
        position: relative;
        left: 35%;
        visibility: visible;
    }

    #PlayButton {
        border-radius: 10px;
        position: relative;
        left: 67%;
        visibility: hidden;
    }

    #CencelButton {
        border-radius: 10px;
        visibility: hidden;
    }

    #deleteProfileForm {
        visibility: hidden;
    }*/
</style>

<body id="CreateProfilePage">
    <h1 id="Header">Create Your Profile!</h1>
  
    @using (Html.BeginForm("CreateProfilePage", "Profiles", FormMethod.Post, new { id = "EnterProfileNameForm" }))
    {
        <h3 id="EnterProfileNameText">Enter your Profile Name</h3>
        @Html.TextBoxFor(m => m.NewProfileName)
        <table id="AvatarsTable" , style="width:100%">
            <tr id="rowOneAvatars">
                @for (int i = 0; i < Model.GetAllProfileAvatars().Count() / 2; i++)
                {
                    var base64 = Convert.ToBase64String(Model.GetAllProfileAvatars()[i]);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <td>
                        <div id="@("Avatar" + i)">
                            <h3>@(i+1)</h3>
                            <img src="@imgSrc" />
                        </div>
                    </td>
                }
            </tr>
            <tr id="rowTwoAvatars">
                @for (int i = Model.GetAllProfileAvatars().Count() / 2; i < Model.GetAllProfileAvatars().Count(); i++)
                {
                    var base64 = Convert.ToBase64String(Model.GetAllProfileAvatars()[i]);
                    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                    <td>
                        <div id="@("Avatar" + i)">
                            <h3>@(i+1)</h3>
                            <img src="@imgSrc" />
                        </div>
                    </td>
                }
            </tr>
        </table>
        <h3 id="ChooseProfText">Choose an avatar! (Enter the number next to the avatar pictures)</h3>
        @Html.TextBoxFor(m => m.SelectedAvatarNum)
        <br /><br />
        <input type="submit" , value="Create Profile" id="CreateProfileButton"/>
        <input type="button" id="BackButton" value="Back" onclick="@("window.location.href='" + @Url.Action("ChooseProfilePage", "Profiles") + "'");" />
    }
</body>